@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", serif;
  height: 100vh;
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 720px;
  margin: 0 auto;
  background-color: #1f2937;
  padding: 112px 120px 112px 48px;
  border-radius: 6px;
}

.section-top {
  border-bottom: 1px solid #2f3e53;
  padding-bottom: 36px;
}

.heading-primary {
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
  font-family: "Karla", sans-serif;
}

span {
  color: #4adf86;
}

.para-m {
  font-size: 20px;
  font-weight: 400;
  /* line-height: 28px; */
  margin-bottom: 56px;
}
.para-description {
  color: #d5d4d8;
}

.btn {
  font-family: inherit;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

.password-settings {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 24px;
}
label {
  font-size: 16px;
  color: #10b981;
  flex: 1;
  font-family: "Karla", sans-serif;
}

input {
  display: block;
  margin-top: 10px;
}

input[type="checkbox"] {
  width: 26px;
  height: 26px;
}
.password-length-setting {
  flex: 1;
}
.password-length-input {
  padding: 8px 8px;
  width: 100%;
  border-radius: 6px;
  border: none;
}

.toggles {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-password {
  font-weight: 500;
  background-color: #10b981;
  color: #fff;
}

.section-bottom {
  padding-top: 36px;
}

.passwords {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  display: none;
  flex-wrap: wrap;
}

.para-sm {
  font-size: 18px;
  font-weight: 500;
}
.password {
  color: #55f991;
  background-color: #273549;
  padding: 8px 16px;
  border-radius: 6px;
}

.error-message {
  background: #fda4af;
  padding: 16px;
  border-radius: 6px;
  color: #1f2937;
  display: none;
}

input[type="text"] {
  background-color: transparent;
}

.copied-text {
  background-color: #a7f3d0;
  padding: 8px;
  position: absolute;
  bottom: 100px;
  display: none;
}
